@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Joes Demo Page</h1>
    <h1> Link1 </h1>
    <h1> Link2 </h1>
    <h2> Link3 </h2>
    
</div>
